/* TABS */
.tab {
  display: flex;
  flex-direction: column;
}

.tab > .tab-label {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.tab.active > .tab-label,
.tab > .tab-label:hover {
  background-color: #ccc;
}

.tab > .tab-label:after {
  content: "\276F";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  transition: transform 0.4s ease-in-out;
}

.tab.active > .tab-label:after {
  transform: rotate(90deg);
}

/* Style the accordion panel. Note: hidden by default */
.tab > .tab-content {
  display: flex;
  flex-direction: column;
  /* flex-basis: 0; */
  background: white;
  max-height: 0;
  text-align: justify;
  overflow: hidden;
  /* Note: cannot use relative height e.g. auto/100% with animations */
  transition: max-height 0.5s ease-in-out;
}

.tab.active > .tab-content {
  /* Setting an initial height here, but this should be set by the initializing function in javascript */
  max-height: 550px;
}
